<h1><%= t ".acc_heading" %></h1>
<p><%= t ".hello" %> <%= @user.name %>,</p>

<p><%= t ".introduce" %></p>

<%= link_to t(".activate_link"), edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
