<h1><%= t "sessions.mail.greeting" %>, <%= @data[:user].name %></h1>
<%= link_to t("sessions.reset.title"), edit_password_reset_url id: @data[:user].reset_token, email: @data[:user].email %>
<%= t "sessions.reset.expire" %>
<%= t "sessions.reset.remind" %>
